body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.layout {
  /* 여기에 Layout 컴포넌트에 대한 스타일을 정의합니다. */
  /* 예시로 배경색과 패딩을 지정합니다. */
  background-color: #f0f0f0;
  padding: 20px;
}